##

import pandas as pd
data = {'A': [1,2,3,4], 'B': [2,3,4,5]}
df = pd.DataFrame(data)
print(df)

In [2]:
#CHECK out the basic operations and attributes associated with pandas

In [11]:
import pandas as pd
import nltk 
file_path = r"C:\Users\admin\Desktop\basic_ML_workshop\basic_ML_workshop\data\pandas_exercise\Interview_Sample_Data.csv"
df = pd.read_csv(file_path)

In [12]:
df.head()

,response_id,class,response_text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,response_1,not_flagged,I try and avoid this sort of conflict,NaN,NaN,NaN,NaN,NaN
1,response_2,flagged,Had a friend open up to me about his mental ad...,NaN,NaN,NaN,NaN,NaN
2,response_3,flagged,I saved a girl from suicide once. She was goin...,NaN,NaN,NaN,NaN,NaN
3,response_4,not_flagged,i cant think of one really...i think i may hav...,NaN,NaN,NaN,NaN,NaN
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,,NaN,NaN,NaN,NaN

In [13]:
df = df.drop(['Unnamed: 3','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], axis=1)

In [14]:
df.head()

  response_id        class                                      response_text
0  response_1  not_flagged              I try and avoid this sort of conflict
1  response_2      flagged  Had a friend open up to me about his mental ad...
2  response_3      flagged  I saved a girl from suicide once. She was goin...
3  response_4  not_flagged  i cant think of one really...i think i may hav...
4  response_5  not_flagged  Only really one friend who doesn't fit into th...

In [15]:
df['words'] = df['response_text'].apply(lambda x: x.split())
df.head()

,response_id,class,response_text,words
0,response_1,not_flagged,I try and avoid this sort of conflict,"[I, try, and, avoid, this, sort, of, conflict]"
1,response_2,flagged,Had a friend open up to me about his mental ad...,"[Had, a, friend, open, up, to, me, about, his,..."
2,response_3,flagged,I saved a girl from suicide once. She was goin...,"[I, saved, a, girl, from, suicide, once., She,..."
3,response_4,not_flagged,i cant think of one really...i think i may hav...,"[i, cant, think, of, one, really...i, think, i..."
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,"[Only, really, one, friend, who, doesn't, fit,..."

In [17]:
df = df.explode('words')
df['words'] = df['words'].str.strip()
df.head()

  response_id        class                          response_text  words
0  response_1  not_flagged  I try and avoid this sort of conflict      I
0  response_1  not_flagged  I try and avoid this sort of conflict    try
0  response_1  not_flagged  I try and avoid this sort of conflict    and
0  response_1  not_flagged  I try and avoid this sort of conflict  avoid
0  response_1  not_flagged  I try and avoid this sort of conflict   this

In [18]:
import string
df['words'] = df['words'].str.strip(string.punctuation)
df['words'] = df['words'].str.lower()

In [22]:
df.head()
import nltk
nltk.download('stopwords')
import nltk
from sklearn.feature_extraction import text
print("Packages imported successfully.")

Packages imported successfully.

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
from nltk.corpus import stopwords
from sklearn.feature_extraction import text

nltk.download('stopwords')
nltk_stopwords = stopwords.words('english')
sklearn_stopwords = list(text.ENGLISH_STOP_WORDS)
all_stopwords = list(set(nltk_stopwords + sklearn_stopwords))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:
print(len(nltk_stopwords))
print(len(sklearn_stopwords))
print(len(all_stopwords))

179
318
378

In [25]:
df.head()

  response_id        class                          response_text  words
0  response_1  not_flagged  I try and avoid this sort of conflict      i
0  response_1  not_flagged  I try and avoid this sort of conflict    try
0  response_1  not_flagged  I try and avoid this sort of conflict    and
0  response_1  not_flagged  I try and avoid this sort of conflict  avoid
0  response_1  not_flagged  I try and avoid this sort of conflict   this

In [26]:
df['is_stopword'] = df['words'].apply(lambda x: str(x)  in all_stopwords)
df.head()

,response_id,class,response_text,words,is_stopword
0,response_1,not_flagged,I try and avoid this sort of conflict,i,True
0,response_1,not_flagged,I try and avoid this sort of conflict,try,False
0,response_1,not_flagged,I try and avoid this sort of conflict,and,True
0,response_1,not_flagged,I try and avoid this sort of conflict,avoid,False
0,response_1,not_flagged,I try and avoid this sort of conflict,this,True

In [27]:
df = df[df['is_stopword'] == False ] 
df

,response_id,class,response_text,words,is_stopword
0,response_1,not_flagged,I try and avoid this sort of conflict,try,False
0,response_1,not_flagged,I try and avoid this sort of conflict,avoid,False
0,response_1,not_flagged,I try and avoid this sort of conflict,sort,False
0,response_1,not_flagged,I try and avoid this sort of conflict,conflict,False
1,response_2,flagged,Had a friend open up to me about his mental ad...,friend,False
...,...,...,...,...,...
79,response_80,not_flagged,The one person I ever talked to it was because...,thing,False
79,response_80,not_flagged,The one person I ever talked to it was because...,talking,False
79,response_80,not_flagged,The one person I ever talked to it was because...,helped,False
79,response_80,not_flagged,The one person I ever talked to it was because...,important,False
79,response_80,not_flagged,The one person I ever talked to it was because...,realize,False

In [28]:
df = df.drop_duplicates(['response_id', 'words'])
len(df)

870

In [29]:
df_flagged = df[df['class'] == 'flagged']
flagged_word_counts = df_flagged.groupby('words').count().iloc[:, 0:1]
flagged_word_counts = flagged_word_counts.sort_values('response_id', ascending=False)
flagged_word_counts.head(25)

            response_id
words
friend               11
depression            7
friends               7
helped                5
going                 5
talk                  4
try                   4
people                4
issues                4
best                  4
anxiety               4
talked                3
suicide               3
personal              3
severe                3
year                  3
school                3
life                  3
like                  3
help                  3
better                3
addiction             3
used                  3
went                  3
sister                2

In [30]:
df_not_flagged = df[df['class'] == 'not_flagged']
not_flagged_word_counts = df_not_flagged.groupby('words').count().iloc[:, 0:1]
not_flagged_word_counts = not_flagged_word_counts.sort_values('response_id', ascending=False)
not_flagged_word_counts.head(25)

          response_id
words
friends            16
helped             10
friend             10
people              9
help                8
talk                7
problems            5
know                5
going               4
feel                4
think               4
lot                 4
come                4
talked              4
try                 4
listen              4
girl                4
really              4
i've                3
life                3
feeling             3
advice              3
issues              3
school              3
open                3

In [31]:
flagged_top_words = flagged_word_counts.index[0:30]
not_flagged_top_words = not_flagged_word_counts.index[0:30]
flagged_top_words

Index(['friend', 'depression', 'friends', 'helped', 'going', 'talk', 'try',
       'people', 'issues', 'best', 'anxiety', 'talked', 'suicide', 'personal',
       'severe', 'year', 'school', 'life', 'like', 'help', 'better',
       'addiction', 'used', 'went', 'sister', 'started', 'stuff', 'time',
       'think', 'want'],
      dtype='object', name='words')

In [32]:
common_words = set(flagged_top_words).intersection(not_flagged_top_words)
common_words

{'friend',
 'friends',
 'going',
 'help',
 'helped',
 'issues',
 'life',
 'people',
 'school',
 'stuff',
 'talk',
 'talked',
 'think',
 'try'}

In [33]:
flagged_top_words_filtered = [ word for word in flagged_top_words if word not in common_words ]

In [34]:
flagged_top_words_filtered = [ word for word in flagged_top_words if word not in common_words ]

In [35]:
flagged_top_words_filtered

['depression',
 'best',
 'anxiety',
 'suicide',
 'personal',
 'severe',
 'year',
 'like',
 'better',
 'addiction',
 'used',
 'went',
 'sister',
 'started',
 'time',
 'want']

In [37]:
not_flagged_top_words_filtered = [ word for word in not_flagged_top_words if word not in common_words ]

In [38]:
not_flagged_top_words_filtered

['problems',
 'know',
 'feel',
 'lot',
 'come',
 'listen',
 'girl',
 'really',
 "i've",
 'feeling',
 'advice',
 'open',
 'listened',
 'need',
 "i'm",
 'tough']